@media screen and (max-width:400px) {
    #logindiv{
        height:70vh ;
        width:50vh ;
        margin-left: 20px;
    }
    #cssbu{
        margin-top:10px ;
    }
    #a1{
        text-align: left;
    }
    
#container{
    height:409px ;
    width:260px;
    border: solid black 3px;
    margin-left: 10px ;
    /* margin-top: 20vh; */
}
#a2{
font-size: 20px;
}
    
}